<div class="overlay">

  <div class="modal">

    <div class="modal-header">
      <h2>Añadir producto</h2>

      <button class="close-btn">
        ✕
      </button>
    </div>

    <div class="modal-body">

      <div class="input-group">
        <label>Nombre del producto</label>
        <input type="text" placeholder="Ej. Hamburguesa">
      </div>

      <div class="input-group">
        <label>Precio</label>
        <input type="number" placeholder="$0.00">
      </div>

      <div class="row">

        <div class="input-group">
          <label>Categoría</label>

          <select>
            <option>Bebidas</option>
            <option>Comida</option>
            <option>Postres</option>
          </select>
        </div>

        <div class="input-group">
          <label>Stock</label>
          <input type="number" placeholder="0">
        </div>

      </div>

      <div class="input-group">
        <label>Descripción</label>

        <textarea rows="4"
          placeholder="Descripción del producto">
        </textarea>
      </div>

    </div>

    <div class="modal-footer">

      <button class="btn-cancel">
        Cancelar
      </button>

      <button class="btn-save">
        Guardar producto
      </button>

    </div>

  </div>

</div>